@using FootDex.Models

@{
    ViewBag.Title = "Informações do time";
}

<h3>Detalhes Time</h3><hr />

@{
    var time = (Time)ViewData["Time"];
    var atq = Convert.ToInt32(ViewData["MediaATQ"]);
    var mei = Convert.ToInt32(ViewData["MediaMEI"]);
    var def = Convert.ToInt32(ViewData["MediaDEF"]);
    List<Jogador> lstJogadores = (List<Jogador>)ViewData["Jogadores"];
}

<div class="row header-jogador">
    <div class="col-lg-3">
        <i class="fa fa-shield" aria-hidden="true" style="font-size: 120px;"></i>
    </div>
    <div class="col-lg-3">
        <ul class="dados-geral">
            <li>
                <i class="fa fa-shield icones-geral" aria-hidden="true"></i>
                @Html.DisplayFor(model => @time.Nome)
            </li>
            <li>
                <i class="fa fa-user icones-geral" aria-hidden="true"></i>
                @Html.DisplayFor(model => @time.Tecnico.Nome)
            </li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h6 class="titulo-media">ATQ</h6>
        <div class="media-jogador" style="background:@MyHelpers.Nota(@atq)">@Html.DisplayFor(model => @atq)</div>
    </div>
    <div class="col-lg-2">
        <h6 class="titulo-media">MEI</h6>
        <div class="media-jogador" style="background:@MyHelpers.Nota(@mei)">@Html.DisplayFor(model => @mei)</div>
    </div>
    <div class="col-lg-2">
        <h6 class="titulo-media">DEF</h6>
        <div class="media-jogador" style="background:@MyHelpers.Nota(@def)">@Html.DisplayFor(model => @def)</div>
    </div>
    
</div>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>DataNascimento</th>
        <th>Posicao</th>
        <th>Media</th>
    </tr>

    @foreach (Jogador item in @lstJogadores)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao.Descricao)
            </td>
            <td>
                <div class="valor-atributo" style="background:@MyHelpers.Nota(@item.Media)">@Html.DisplayFor(modelItem => item.Media)</div>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("<< Voltar", "Index") | @Html.ActionLink("Editar", "Edit", new { id = @time.ID })
</p>
