@using FootDex.Models

@{
    ViewBag.Title = "Informações do time";
}

<h3>Detalhes Time</h3><hr />

@{
    var time = (Time)ViewData["Time"];
    var atq = (decimal)ViewData["MediaATQ"];
    var mei = (decimal)ViewData["MediaMEI"];
    var def = (decimal)ViewData["MediaDEF"];
    List<Jogador> lstJogadores = (List<Jogador>)ViewData["Jogadores"];
}

<div class="row header-jogador">
    <div class="col-lg-3">
        <i class="fa fa-shield" aria-hidden="true" style="font-size: 120px;"></i>
    </div>
    <div class="col-lg-3">
        <ul class="dados-geral">
            <li>@Html.DisplayFor(model => @time.Nome)</li>
            <li>@Html.DisplayFor(model => @time.Tecnico.Nome)</li>
        </ul>
    </div>
    <div class="col-lg-2">
        DEF
        <div class="media-jogador">
            @Html.DisplayFor(model => @def)
        </div>
    </div>
    <div class="col-lg-2">
        MEI
        <div class="media-jogador">@Html.DisplayFor(model => @mei)</div>
    </div>
    <div class="col-lg-2">
        ATQ
        <div class="media-jogador">@Html.DisplayFor(model => @atq)</div>
    </div>
</div>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>DataNascimento</th>
        <th>Posicao</th>
        <th>Media</th>
    </tr>

    @foreach (Jogador item in @lstJogadores)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Media)
            </td>
            <!--<td>
                <ul class="menu-editar">
                    <li>
                        <a href="@Url.Action("Edit", "Jogadors", new { id = item.ID }, null)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Details", "Jogadors", new { id = item.ID }, null)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", "Jogadors", new { id = item.ID }, null)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </td>-->
        </tr>
    }

</table>

<p>
    @Html.ActionLink("<< Voltar", "Index") | @Html.ActionLink("Editar", "Edit", new { id = @time.ID })
</p>
