@using FootDex.Models

@{
    ViewBag.Title = "Informações do time";
}

<h2>Details</h2>

@{
    var time = (Time)ViewData["Time"];
    var atq = (decimal)ViewData["MediaATQ"];
    var mei = (decimal)ViewData["MediaMEI"];
    var def = (decimal)ViewData["MediaDEF"];
    List<Jogador> lstJogadores = (List<Jogador>)ViewData["Jogadores"];
}

<div>
    <h4>Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Técnico:
        </dt>

        <dd>
            @Html.DisplayFor(model => @time.Tecnico.Nome)
        </dd>

        <dt>
            Nome do Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => @time.Nome)
        </dd>
        <dt>
            Media ataque:
        </dt>

        <dd>
            @Html.DisplayFor(model => @atq)
        </dd>
        <dt>
            Media mei:
        </dt>

        <dd>
            @Html.DisplayFor(model => @mei)
        </dd>
        <dt>
            Media def:
        </dt>

        <dd>
            @Html.DisplayFor(model => @def)
        </dd>



    </dl>
</div>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>DataNascimento</th>
        <th>Posicao</th>
        <th>Time</th>
        <th>Media</th>
    </tr>

    @foreach (Jogador item in @lstJogadores)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Media)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Jogadors", new { id = item.ID }, null)
                @Html.ActionLink("Detalhes", "Details", "Jogadors", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = @time.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
