@using FootDex.Models

@{
    ViewBag.Title = "Informações do time";
}

<h2>Details</h2>

@{
    var time = (Time)ViewData["Time"];
    var atq = (decimal)ViewData["MediaATQ"];
    var mei = (decimal)ViewData["MediaMEI"];
    var def = (decimal)ViewData["MediaDEF"];
}

<div>
    <h4>Time</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Técnico:
        </dt>

        <dd>
            @Html.DisplayFor(model => @time.Tecnico.Nome)
        </dd>

        <dt>
            Nome do Time:
        </dt>

        <dd>
            @Html.DisplayFor(model => @time.Nome)
        </dd>
        <dt>
            Media ataque:
        </dt>

        <dd>
            @Html.DisplayFor(model => @atq)
        </dd>
        <dt>
            Media mei:
        </dt>

        <dd>
            @Html.DisplayFor(model => @mei)
        </dd>
        <dt>
            Media def:
        </dt>

        <dd>
            @Html.DisplayFor(model => @def)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @time.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
