@model IEnumerable<FootDex.Models.Time>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Liga.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Liga.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeId })
        </td>
    </tr>
}

</table>
