@model IEnumerable<FootDex.Models.Time>

@{
    ViewBag.Title = "Index";
}

<h3>Times</h3><hr />

<a href="@Url.Action("Create", "Times")" class="adicionar">
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <ul class="menu-editar">
                <li>
                    <a href="@Url.Action("Edit", new { id=item.ID})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Details", new { id=item.ID})">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Delete", new { id=item.ID})">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
}

</table>
