@model FootDex.Models.Jogador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Posicao.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicao.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_nascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JogadorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
