@model IEnumerable<FootDex.Models.Jogador>

@{
    ViewBag.Title = "Index";
}

<h3>Jogadores</h3><hr />


<a href="@Url.Action("Create", "Jogadors")" class="adicionar">
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posicao.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media)
        </th>
        <th>
            <p>Ações</p>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicao.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time.Nome)
        </td>
        <td>
            <div class="valor-atributo" style="background:@MyHelpers.Nota(@item.Media)">
                @Html.DisplayFor(modelItem => item.Media)
            </div>
        </td>
        <td>
            <ul class="menu-editar">
                <li>
                    <a href="@Url.Action("Edit", new { id=item.ID})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Details", new { id=item.ID})">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Delete", new { id=item.ID})">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
}

</table>
