@model FootDex.Models.Setor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Setor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_ataque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_ataque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_meio_campo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_meio_campo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_defesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_defesa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SetorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
